@page
@model MyRazorPage.Pages.Account.ProfileModel
@{
}

        <div id="content">
            <div id="content-left">
                <h3 style="font-weight: normal;">Welcome, @Model.Customer.ContactName</h3>
                <h3>Account Management</h3>
                <ul>
            <a href="/account/profile">
            <li style="background-color: sienna; color: white">Personal information</li></a>
                </ul>
                <h3>My order</h3>
                <ul>
                    <a href="/orders/listorders"><li>All orders</li></a>
                    <a href="/orders/canceledorder"><li>Canceled order</li></a>
                </ul>
            </div>
            <div id="content-right">
            <form method="post">
                <div class="path">Personal information</b></div>
                <div class="content-main">
                    <div id="profile-content">
                        <div class="profile-content-col">
                            <div>Company name: <br/>
                        <input asp-for="Customer.CompanyName" /><br />
                        <span class="msg-error" asp-validation-for="Customer.CompanyName" /><br />
                            </div>
                            <div>Contact name: <br />
                                                <input asp-for="Customer.ContactName" /><br />
                <span class="msg-error" asp-validation-for="Customer.ContactName" /><br /></div>
                            <div>
                            <div class="msg-error" style="text-align:left">@ViewData["msg"]</div>
                        <input type="submit" value="Edit info" />
                            </div>
                        </div>
                        <div class="profile-content-col">
                    <div>Company title: <br />
                                    <input asp-for="Customer.ContactTitle" /><br />
                <span class="msg-error" asp-validation-for="Customer.ContactTitle" /><br />    
                    </div>
                    <div>Address: <br />
                        <input asp-for="Customer.Address" /><br />
                        <span class="msg-error" asp-validation-for="Customer.Address" /><br />
                    </div>
                        </div>
                        <div class="profile-content-col">
                            <div>Email: <br/>
                        <input asp-for="Account.Email" /><br />
                        <span class="msg-error" asp-validation-for="Account.Email" />
                    </div>
                        </div>
                    </div>
                </div>
        </form>
        </div>
        </div>
