@page
@model MyRazorPage.Pages.Account.SignInModel
@{
}
<style>

    button {
        background-color: #4CAF50;
        width: 100%;
        color: orange;
        padding: 15px;
        margin: 10px 0px;
        border: none;s
        cursor: pointer;
    }

    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;
        box-sizing: border-box;
    }

    button:hover {
        opacity: 0.7;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        margin: 10px 5px;
    }


    .container {
        padding: 25px;
        background-color: lightblue;
    }
</style>

@*thiết kế email và password*@
<form method="post">
        <div id="content">
            <div id="form">
                <div id="form-title">
                    <span><a href="~/account/signup">SIGN UP</a></span>
                <span><a href="~/account/signin" style="color: red;">SIGN IN</a></span>
                </div>
                <div id="form-content">
                <div class="msg-error" style="text-align:left">@ViewData["msg"]</div>
                    <form action="" method="post">
                    <label>Email<span style="color: red;">*</span></label><br />
                    <input asp-for="Account.Email" /><br />
                    <span class="msg-error" asp-validation-for="Account.Email" />
                        <label>Password<span style="color: red;">*</span></label><br />
                    <input asp-for="Account.Password" /><br />
                    <span class="msg-error" asp-validation-for="Account.Password" />
                        <div><a href="~/account/forgot">Forgot password?</a></div>
                        <input type="submit" value="SIGN IN" /><br />
                        <input type="button" value="FACEBOOK LOGIN" style="background-color: #3b5998;" /><br />
                        <input type="button" value="ZALO LOGIN" style="background-color: #009dff;margin-bottom: 30px;" />
                    </form>
                </div>
            </div>
    </div>

</form>  