@page
@model NokNok.Pages.AboutUsModel
@{
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>about us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about section area -->
<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about_content">
                    <h1>Welcome To NokNok Store!</h1>
                    <p>Our mission is to provide you with the latest and greatest technology products from the most reputable brands in the industry. We believe that technology has the power to enhance our lives in countless ways, and we are committed to helping you find the perfect devices to meet your needs and exceed your expectations.</p>
                    <p>
                        Thank you for choosing our website for your technology shopping needs. We look forward to serving you and helping you find the perfect devices to enhance your life.
                    </p>
                    <div class="view__work">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about_thumb">
                    <img src="~/img/about/banner.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->
<!--counterup area -->
<div class="counterup_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img src="~/img/about/count.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">217</h2>
                        <p>happy customers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img src="~/img/about/count2.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">88</h2>
                        <p>AWARDS won</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img src="~/img/about/count3.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">215</h2>
                        <p>HOURS WORKED</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img src="~/img/about/count4.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">117</h2>
                        <p>COMPLETE PROJECTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--counterup end-->
<!--about progress bar -->
<div class="about_progressbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="progressbar_inner">
                    <h2>We have lots of stufff to deal</h2>
                    <div class="progress_skill one">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".3s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress_persent">Laptop</span>
                            </div>
                        </div>
                        <span class="progress_discount">68%</span>
                    </div>
                    <div class="progress_skill two">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Phone </span>
                            </div>

                        </div>
                        <span class="progress_discount">88%</span>
                    </div>
                    <div class="progress_skill three">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Watch</span>
                            </div>

                        </div>
                        <span class="progress_discount">73%</span>
                    </div>
                    <div class="progress_skill four">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Accessories</span>
                            </div>

                        </div>
                        <span class="progress_discount">81%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about__img">
                    <img src="~/img/about/banner.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about progress bar end -->